.containerMain{
    width: 99%;
    padding: 1px;
    display: inline-flex;
}
.containerMain2{
    width: 99%;
    padding: 1px;
    border-radius: 10px;
    box-shadow: 0 0 10px green;
}
.containerMain3{
    width: 99%;
    padding: 1px;
    display: inline-flex;
    border-radius: 10px;
    box-shadow: 0 0 10px green;
    margin-top: 2%;
}
.leftContainer{
    width: 20%;
    border-radius: 10px;
}
.rightContainer{
    right: 0;
    width: 75%;
    float: right;
    margin-left: 5%;
    border-radius: 10px;
    box-shadow: 0 0 10px green;
}
.nav{
    margin-top: 2%;
}
.avatar{
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px green;
}
.avatarContainer{
    border-radius: 10px;
}
.buttonContainer{
    display: inline-flex;
    width: 96%;
    height: 25px;
    padding: 5px;
    border: 1px solid #b22222;
    border-radius: 10px;
    text-decoration: none;
    color: #b22222;
    margin-bottom: 10px;
    box-shadow: 0 0 10px green;
    background-color: white;
}
.buttonContainer:hover{
    background-color: lightgreen;
    color: #b22222;
}
.textImg{
    margin: auto;
}
.buttonContainer2{
    display: inline-flex;
    width: 96%;
    height: 25px;
    padding: 5px;
    margin-top: 10%;
    border-radius: 10px;
    text-decoration: none;
    color: #b22222;
    margin-bottom: 10px;
}
.text{
    margin-top: 5%;
    padding: 10px;
    line-height: 1;
    font-family: Bahnschrift, serif;
}
.techStack{
    font-weight: bold;
    font-family: Bahnschrift, serif;
}
.title{
    text-align: center;
    font-weight: bold;
    color: #b22222;
}
.boldText{
    font-weight: bold;
    color: #b22222;
}

.pic{
    width: 40%;
    height: 40%;
    border-radius: 10px;
    margin-right: 1%;
    margin-left: 2%;
    transition: 1s;
}
.pic:hover{
    transform: scale(1.3);
}
.pic2{
    width: 75%;
    height: 75%;
    border-radius: 10px;
    transition: 1s;
    margin-left: 11%;
}
.pic2:hover{
    transform: scale(1.3);
}
.pic3{
    width: 100%;
    height: 75%;
    border-radius: 10px;
    transition: 1s;
}
.pic4{
    width: 39%;
    height: 39%;
    border-radius: 10px;
    transition: 1s;
    margin-left: 7%;
}
.pic4:hover{
    transform: scale(1.4);
}.pic5{
    width: 80%;
    height: 80%;
    border-radius: 10px;
    transition: 1s;
    margin-left: 11%;
}
.pic5:hover{
    transform: scale(1.3);
}
.codeImg{
    display: inline-flex;
    width: 100%;
}
.mt10{
    margin-top: 30px;
}
.text{
    margin-left: 2%;
    margin-right: 2%;
    text-align: center;
}
.imageAndText{
    height: 100%;
}
.flex-left{
    width: 48%;
}
.flex-right{
    width: 48%;
}
.img50{
    width: 85%;
    transition: 1s;
    margin-left: 9%;
}
.img50:hover{
    transform: scale(1.2);
}
.buttonContainer3{
    display: inline-flex;
    width: 96%;
    height: 25px;
    padding: 5px;
    border: 1px solid #b22222;
    border-radius: 10px;
    text-decoration: none;
    color: #b22222;
    margin-bottom: 10px;
    box-shadow: 0 0 10px green;
    background-color: lightgreen;
}
.buttonContainer3:hover{
    background-color: white;
    color: #b22222;
    }

.pulse{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #b22222;
    margin: auto;
}
.pulse2{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: lightgreen;
    margin: auto;
}
.paragraph{
    font-size: 1.5rem;
    color: #b22222;
}
